body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #217827;
    color: white;
    padding: 0 20px;
}

.header-content {
    display: flex;
    align-items: center;
    height: 75px; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150%;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 50px;
}

.logo img {
    height: 60px; /* Adjust this value as needed */
    width: auto; /* Maintains the aspect ratio */
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.login-btn {
    list-style: none;
    padding: 0;
    margin: 0;
}

.login-btn li {
    margin: 0;
}

.login-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #df1919;
    padding: 10px 40px;
    border-radius: 100px;
}

.container {
    padding: 20px;
    width: 80%;
    margin:0 auto;
}

.hero-section {
    position: relative;
    text-align: center;
    color: white;
}

/* Slideshow styles */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 50%;
}

.active {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Dots */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active-dot {
    background-color: #717171;
}

/* Welcome text styles */
.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.welcome-text h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.welcome-text .highlight {
    color: #76c7c0;
}

.featured-content {
    margin-top: 20px;
}

.article {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.article h3 {
    margin-top: 0;
}

.article p {
    color: #555;
}

.article a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #217827;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}
